extends layout

mixin videoVote(n)
  div
    +videoDisplay(videos[n])
    a(href="/eliminate/#{videos[1-n].youtubeVideoID}") Pick

block content
  +backButton
  
  h1 Vote!
  
  div
    +videoVote(0)
    +videoVote(1)
