extends layout

mixin videoVote(n)
  div.col-md-6
    div.panel.panel-primary
      +videoDisplayContents(videos[n], 438, 242)
      div.panel-footer
        a.btn.btn-primary(href="/eliminate/#{videos[1-n].youtubeVideoID}") Pick

block content
  +headerWithBackButton("Vote!")
  
  div
    +videoVote(0)
    +videoVote(1)
