/* ADD YOUR STYLES HERE */

.data-table {
  width: 100%;
}

.data-table-row {
  border-bottom: 1px solid lightgrey;
}

.data-table-cell {
  padding: 10px;
}

.stats-table {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.stats-entry {
  padding: 20px;
  text-align: center;
}

.stats-value {
  font-weight: bold;
  font-size: 25pt;
}

.stats-label {
  font-size: 10pt;
  color: lightgrey;
}

.bar-chart {
  width: 100%;
}

.bar-chart-label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  padding: 5px;
}

.bar-chart-bar {
  background-color: #69c;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  color: white;
}

/* Lightbox styles */
/*.lightbox-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: grey;
}

.lightbox {
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  padding: 25px;
  border-radius: 15px;
}

.lightbox-close-button {
  padding: 10px;
  background: #f99;
  border-radius: 5px;
  width: 120px;
  margin-left: auto;
  text-align: center;
}

.lightbox-close-button-label {
  color: white;
  text-decoration: none;
}*/

.media-block {
  position: relative;
}

.media-block-img {
  float: left;
}

.media-block-content-level1 {
  margin-left: 65px;
}

.media-block-content-level2 {
  margin-left: 45px;
}
